*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-image: url(./images/céuRelampago.jpg);
}

.toDoContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: rgb(248, 196, 255);
    margin: 30px;
    font-weight: bolder;
}

#toDoForm #inputTask{
    height: 40px;
    width: 200px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    color: rgb(116, 96, 134);
}

#toDoForm #inputCriar{
    height: 40px;
    width: 40px;
    background-color: rgb(210, 163, 255);
    color: white;
    font-weight: border;
    border: 1px solid rgb(210, 163, 255);
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
}

#toDoForm #inputCriar:hover{
    background-color: white;
    color: rgb(210, 163, 255);
}

.task{
}

.taskList{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    background-color: rgb(116, 96, 134);
    border-radius: 4px;
    padding: 4px;
    color: white;
    position: relative;
}

.task .doneBtn{
    background-color: rgb(210, 163, 255);
    border: none;
    border-radius: 4px;
    padding: 3px;
    color: white;
    position: absolute;
    right: 30px;
}

.task .removeBtn{
    background-color: rgb(210, 163, 255);
    border: none;
    border-radius: 4px;
    padding: 3px;
    color: white;
    position: absolute;
    right: 10px;
}

.task .taskBtn{
    padding: 5px;
}

.task button{
    margin-right: 10px;
}

.made{
    text-decoration: line-through;
}


